.property-box-slider-content {
    max-width: 100%!important;
    background: none!important;
}
.header-v1 .header-middle {
    padding: 10px 0 15px 0!important;
}
.image-lazy-loading .image-wrapper.image-loaded img {
    opacity: 0.7;
}
.btn {
    text-transform: none!important;
}
.btn-search {
    font-family: sans-serif!important;
    font-weight: 700;
    font-size: 18px!important;
}
.widget .widget-title, .widget .widgettitle, .widget .widget-heading {
    font-family: sans-serif!important;
    font-weight: 700;
    font-size: 28px;
}
.widget-text-heading .title {
    font-family: sans-serif!important;
    font-weight: 700;
    font-size: 28px;
}
.title_home_ellipsis {
    height: 64px;
    overflow: hidden;
}
.title_home_ellipsis_feature {
    height: 50px;
    overflow: hidden;
}
.widget-location-banner .properties {
    font-family: sans-serif!important;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next {
    top: 35%;
}
.apus-header .profile_login {
    margin-top: 14px;
}
.profile_login {
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile_login li {
    display: inline-block;
    margin-right: 20px;
}
.dang_tin {
    margin-top: 0px!important;
}
.color-red-price {
    color: #d0021b!important;
    font-weight: 700!important;
}

.verify-success p {
    margin-top: 20px
}

.verify-success .new-post {
    background: #599ed8;
    border: 0;
    border-radius: 5px;
    color: #FFF !important;
    padding: 5px 10px
}

.verify-success .new-mobile {
    color: #055699;
    text-decoration: underline
}

.verifyPopupContainer {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2147483647;
    width: 600px;
    right: 0;
    margin: auto
}

.verifyPopup {
    z-index: 1001;
    width: 500px;
    padding: 0 40px 80px 40px;
    background-color: #fff;
    margin: 0 auto 60px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.verifyPopup .verifyPopupClose {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #999;
    font-weight: bolder;
    line-height: 21px;
    font-size: 17px;
    cursor: pointer
}

.verifyPopup .verifyPopupTitle {
    color: #055697;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    padding: 30px 0
}

.verifyPopup .verifyPopupContent * {
    color: #424242
}

.verifyPopup .verifyPopupContent input[type=number] {
    height: 28px;
    border: 1px solid #ccc;
    padding: 0 10px
}

.verifyPopup .verifyPopupContent div {
    color: #f60
}
.home1 .row {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.home1 .btn {
    min-width: 100%!important;
}
.home1 .group-select>select {
    width: 100%;
    -webkit-appearance: none;
}
.property-box-wrapper {
    border: 1px solid #f0f9fb;
}
.widget-text-heading .link-text-heading{
    color: #4c58a4;font-size: 13px;font-weight: 400;font-family: open sans,Helvetica,Arial,sans-serif;
}
.header-transparent .header-v1 .header-bottom .bottom-inner {
    background: #114a82!important;
}
.article_vip_diamond .title_home_vip a{
    color: #B32626!important;
    text-transform: uppercase!important;

    text-decoration: none;
    color: #B32626;
    font-weight: bold;
    padding-left: 20px;
    background-image: url(../../imgs/vip-star.png);
    background-repeat: no-repeat;
}
.article_vip_diamond .property_box_vip{
    border: 1px solid red!important;
}
.article_vip_gold .title_home_vip a{
    color: #B32626!important;
    text-transform: uppercase!important;
}
.article_vip_gold .property_box_vip{
    border: 1px solid red!important;
}
.article_vip_silver .title_home_vip a{
    color: orange!important;
    text-transform: uppercase!important;
}
.article_vip_silver .property_box_vip{
    border: 1px solid orange!important;
}
.article_vip_normal .title_home_vip a{
    color: #4c58a4!important;
    text-transform: uppercase!important;
}
.article_vip_normal .property_box_vip{
    border: 1px solid #4c58a4!important;
}
.btn-blue, .btn-search {
    background: #13293d!important;
    border: 1px solid #13293d!important;
}