.p-main-image-crop {
    width: 184px!important;
    height: 166px!important;
}
.p-content {
    width: 470px!important;
}
.p-main-image-crop .product-avatar-img {
    height: 150px!important;
    width: 180px!important;
}
.tintuc-row1 .tc-img {
    width: 250px!important;
}
.tintuc-row1 .tc-img img {
    width: 240px!important;
    height: 180px!important;
}
.tintuc-row1 .tc-img{
    height: 100px;
}